  <div>
    <img class="profile" src="assets/images/profile-lg.png">
  </div>
  <h2>
    {{title}}
  </h2>
  
  <div class="card">
    <div class="circle">
      <img src="assets/images/temp-logo-lg.png">
    </div>
    <article>
      {{content}}
    </article>
    <div class="image-row sharing">
      <a href="https://twitter.com/kevynhale" target="_blank" (click)="trackClick('twitter')"><img src="assets/images/twitter.png"></a>
      <a href="https://github.com/kevynhale" target="_blank" (click)="trackClick('github')"><img src="assets/images/github.png"></a>
      <a href="https://www.linkedin.com/in/kevyn-hale-4285698a/" target="_blank" (click)="trackClick('linkedin')"><img src="assets/images/linkedin.png"></a>
      <a href="https://www.upwork.com/o/profiles/users/_~01d0ed8c1b9f07ec4f/  " target="_blank" (click)="trackClick('upwork')"><img src="assets/images/upwork.png"></a>
    </div>
    <A HREF="mailto:kevyn@kevynhale.com" class="button" (click)="trackClick('email')">
        <span>{{buttontext}}</span>
    </A>
  </div>
  <div class="italic">
    {{info1}}
  </div>
  <div class="italic">
    {{info2}}
  </div>

  <div class="image-row dev-icon">
    <img src="assets/images/angular.png">
    <img src="assets/images/css.png">
    <img src="assets/images/js.png">
    <img src="assets/images/php.png">
    <img src="assets/images/sketch.png">
    <img src="assets/images/golang.png">
    <img src="assets/images/java.png">
    <img src="assets/images/python.png">
    <img src="assets/images/react.png">
  </div>
