@import 'variables';

:host {
  @include stretch;
  flex-direction: column;
  justify-content:left;
  text-align:left;
}


div {
  width: 100%;
}

.date {
  font-size:1rem;
  font-weight: 300;
}

.title {
  font-family: $header-font;
  font-size: 2.2rem;
  margin-bottom: 15px;
}

img {
  width: 100%;
  margin-bottom: 20px;
}

.body {
  line-height: 2rem;
  font-size: 1.2rem;
  margin-bottom: $margin;
}

:host ::ng-deep .body { 
  .image-container {
    display:inline-block;
    
  }
  .wp-images {
    width:100%;
  }
}
